<h1>Articles Zote</h1>
<ul id="articles">
	<% @articles.each do |article|%>
	<li>
		<%= link_to article.title, article_path(article), class:'article_title'%>
	</li>
	<% end%>
</ul>
<br>
<p><%= link_to 'Create new article',new_article_path, class:'article_title' %></p>
<p><%= link_to 'See all tags', tags_path, class:'article_title' %></p>